<header class="bg-primary text-white">
  <div class="container text-center">
    <h1>Concert Calendar</h1>
    <p class="lead">A calendar for concerts</p>
  </div>
</header>

<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2>About</h2>
        <p class="lead">What we have here is a calendar that keeps track of concerts in your area by your favorite artists. You get to choose which artists go on the calendar. Here's a list of my favorite artists:</p>
        <ul>
          <li>Vincent Van Gogh</li>
          <li>Salvador Dali</li>
          <li>Marcel Duchamp</li>
          <li>Andy Warhol</li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section id="services" class="bg-light">
  <div class="container text-center">
    <div class="row">
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
          <i class="fa fa-4x fa-cogs text-primary sr-icons"></i>
          <h3>Gears</h3>
          <p>Our project uses a great deal of gears. Every member in this group is extremely passionate about gears.</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
          <i class="fa fa-4x fa-bar-chart text-primary sr-icons"></i>
          <h3>Graph</h3>
          <p>You better bet every single member of this group has crunched the numbers. We understand that numbers don't lie.</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
          <i class="fa fa-4x fa-feed text-primary sr-icons"></i>
          <h3>Internet</h3>
          <p>If you want to use this application, you need to be connected to the internet.</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
          <i class="fa fa-4x fa-newspaper-o text-primary sr-icons"></i>
          <h3>Newspaper</h3>
          <p>This is a newspaper. I know for a fact that every member of our group is well-informed and caught up with current events.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="members">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2>Group Members</h2>
        <ul>
          <li>Jake Chong</li>
          <li>Michelle Kwon</li>
          <li>Sean Chen</li>
          <li>Bryan Lim</li>
        </ul>
      </div>
    </div>
  </div>
</section>